venv/
logs/
.env
delta-lake/checkpoints/
*.pyc
__pycache__/
data/
delta-lake/
plugins/
docker-compose_example.yml
earthquake_consumer.log
wolf_consumer.log
.AccessPoints
local_logs/
*.log
local_logs/*.log
local_logs/*.pid
