lowercaseOutputName: true
lowercaseOutputLabelNames: true

rules:
  # General Kafka server metrics
  - pattern: 'kafka.server<type=(.+), name=(.+)><>(Count|Value)'
    name: kafka_server_$1_$2
    type: GAUGE

  - pattern: 'kafka.server<type=(.+), name=(.+)><>OneMinuteRate'
    name: kafka_server_$1_$2_oneminuterate
    type: GAUGE

  - pattern: 'kafka.network<type=(.+), name=(.+)><>Count'
    name: kafka_network_$1_$2
    type: COUNTER

  - pattern: 'kafka.log<type=(.+), name=(.+)><>Value'
    name: kafka_log_$1_$2
    type: GAUGE

  # BrokerTopicMetrics per topic
  - pattern: 'kafka_server_brokertopicmetrics_messagesinpersec_topic_(.+)'
    name: kafka_messages_in_total
    labels:
      topic: "$1"
    type: GAUGE

  - pattern: 'kafka_server_brokertopicmetrics_bytesinpersec_topic_(.+)'
    name: kafka_bytes_in_total
    labels:
      topic: "$1"
    type: GAUGE

  - pattern: 'kafka_server_brokertopicmetrics_bytesoutpersec_topic_(.+)'
    name: kafka_bytes_out_total
    labels:
      topic: "$1"
    type: GAUGE

  - pattern: 'kafka_server_brokertopicmetrics_failedfetchrequestspersec_topic_(.+)'
    name: kafka_failed_fetch_total
    labels:
      topic: "$1"
    type: GAUGE

  - pattern: 'kafka_server_brokertopicmetrics_failedproducerequestspersec_topic_(.+)'
    name: kafka_failed_produce_total
    labels:
      topic: "$1"
    type: GAUGE

  # ReplicaManager
  - pattern: 'kafka.server<type=ReplicaManager, name=UnderReplicatedPartitions><>Value'
    name: kafka_underreplicated_partitions
    type: GAUGE
