lowercaseOutputName: true
rules:
  - pattern: "kafka.server<type=(.+), name=(.+)><>Value"
    name: "kafka_server_$1_$2"
    type: GAUGE

  - pattern: "kafka.network<type=(.+), name=(.+)><>Count"
    name: "kafka_network_$1_$2"
    type: COUNTER

  - pattern: "kafka.network<type=(.+), name=(.+)><>OneMinuteRate"
    name: "kafka_network_$1_$2_rate"
    type: GAUGE

  - pattern: "kafka.log<type=(.+), name=(.+)><>Value"
    name: "kafka_log_$1_$2"
    type: GAUGE
