global:
  scrape_interval: 15s
  evaluation_interval: 15s
  scrape_timeout: 10s

scrape_configs:
  # ============================================
  # KAFKA
  # ============================================
  - job_name: 'kafka'
    scrape_interval: 5s
    scrape_timeout: 5s
    metrics_path: '/metrics'
    static_configs:
      - targets: ['kafka:9404']
        labels:
          service: 'kafka'
          component: 'broker'

 
  - job_name: 'spark_applications'
    scrape_interval: 10s
    scrape_timeout: 5s
    metrics_path: '/metrics/prometheus'
    static_configs:
      - targets: 
        - 'spark-master:4040'
        - 'spark-master:4041'
        labels:
          service: 'spark'
          component: 'application'
  
    honor_labels: true

  # ============================================
  # PYTHON PRODUCERS
  # ============================================
  - job_name: 'python_producers'
    scrape_interval: 5s
    scrape_timeout: 3s
    metrics_path: '/metrics'
    static_configs:
      - targets: 
        - '172.17.0.1:8000'
        - '172.17.0.1:8001'
        
    relabel_configs:
      - source_labels: [__address__]
        regex: '.*:8000'
        target_label: producer
        replacement: 'earthquake'
      - source_labels: [__address__]
        regex: '.*:8001'
        target_label: producer
        replacement: 'wolf'
     

  # ============================================
  # PROMETHEUS
  # ============================================
  - job_name: 'prometheus'
    scrape_interval: 10s
    static_configs:
      - targets: ['localhost:9090']
        labels:
          service: 'monitoring'
          component: 'prometheus'

  # ============================================
  # GRAFANA
  # ============================================
  - job_name: 'grafana'
    scrape_interval: 15s
    metrics_path: '/metrics'
    static_configs:
      - targets: ['grafana:3000']
        labels:
          service: 'monitoring'
          component: 'grafana'
