global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'kafka'
    static_configs:
      - targets: ['kafka:9404']
  - job_name: 'spark'
    metrics_path: /metrics/executors/prometheus
    static_configs:
      - targets: ['spark-master:4040', 'spark-master:4041']
